# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Mac
.DS_Store

# Directories
_OLD/
c_code/hometalk_v1/build/
scripts/tests/getch/build/
cli_remote/php-serial/.svn/
